
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Chat</title>
</head>
<body>
    <h2>ASKQ</h2>
    <form method="post" action="{% url 'chat_view' %}">
        {% csrf_token %}
        <label for="user_input">質問:</label>
        <input type="text" name="user_input" required>
        <button type="submit">送信</button>
    </form>
    {% if user_input %}
        <h3>ユーザーの質問: {{ user_input }}</h3>
        <h3>ChatGPTの回答: {{ response }}</h3>
    {% endif %}
</body>
</html>